body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 100vh;
}
body {
    font-family: Open Sans,Roboto,Arial,Helvetica,sans-serif,SimSun;
}

.signup-container .form-group {
    margin-top: 20px;
}
.signup-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2px;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 600px;
    height: 500px;
}
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7BF0A8
}
input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    width: 300px;
    font-weight: 700;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-group input::placeholder {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.form-group input:focus::placeholder {
    transform: translateY(-15px);
    opacity: 0.5;
}
.btn2 {
    display: flex;
    justify-content: center;
    text-align: center;
    background:gray;
    border: none;
    border-radius: 50px;
    padding: 15px 0 15px 0;
    cursor: pointer;
    width: 300px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 15px;
}
.btn2:hover{
    background-color: #7BF0A8;
}
img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.flashed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-top: 0;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    color: #ff0000;
    text-align: center;
}

ul li {
    list-style: none;
}
.signup text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 10px 10px;
}

.signup p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; 
}