body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #222;
    height: 100vh;
}
body {
    font-family: Open Sans,Roboto,Arial,Helvetica,sans-serif,SimSun;
}

.signup-container .form-group {
    margin-top: 20px;
}
.signup-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 600px;
    height: 600px;
    margin: auto;
    
}
h5 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #7BF0A8
}
input {
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    width: 350px;
    font-weight: 700;
    margin-top: 20px;
    margin:auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-group input::placeholder {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.form-group input:focus::placeholder {
    transform: translateY(-15px);
    opacity: 0.5;
}
button {
    /* position: fixed; */
    background: #7BF0A8;
    color: hsla(0, 0%, 100%, 0.952);  
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    width: 350px;
    font-weight: 700;
    margin: auto;
    margin-top:10px;
}
img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
/* .alert.alert-danger {
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    text-align: center;
} */
/* .alert.alert-danger p{
    margin-bottom: -20px;
    position: absolute;
    background-color: #7BF0A8;
}  */
/* .alert.alert-success {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    text-align: center;
}
.alert.alert-success .alert-danger button{
    float: right;
} */ 