{% extends 'basic.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/sign_up.css') }}">
{% endblock %}

{% block content %}
<div class="center_container">
<div class="signup-container">
    <img src="{{ url_for('static', filename='images/Logo/kasuwa_logo.png') }}" width="180px" height="37px" alt="kasuwa_logo">
    <form action="" method="POST">
        <h3>Sign Up</h3>
        <div class="form-group">
            <input class='inp' type="name"  name='username' placeholder="Username">
        </div>
        <div class="form-group">
            <input class='inp' type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <input class='inp' type="password" placeholder="Confirm Password" required>
        </div>
        <div class="form-group">
            <input class='inp' type="email" name="mail" placeholder="E-Mail" required>
        </div>
        <div class="form-group">
            <input class='inp' type="phone" name="phoneNumber" class="float-label" placeholder="Phone" required>
        </div>
        <button id='registerBtn' type="submit">Sign Up</button>
    </form>
</div>
</div>
{% endblock %}