<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts/index.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/category.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include 'header.html' %}
    <section class="container container-wrap">

        <div class="container-content">
            <div>
                <div class="breadcrumb-navigation">
                    <span>
                        <a class="breadcrumb-title" href="">Kasuwa</a>
                        <span class="breadcrumb-seperator">></span>

                    </span>
                    <span class="breadcrumb-keyword">{{ category.name }}</span>


                </div>
            </div>
            <div class="featureSwitch--featureContainer">
                <div class="featureSwitch-container">
                    <div>
                        <label class="comet-checkbox comet-checkbox-square" for="">
                            <span class="comet-checkbox-icon">
                                <span class="comet-checkbox-circle"></span>

                            </span>
                            <input type="checkbox" class="comet-checkout-input" value>

                            <span>
                                <span class="featureSwitch--text">SALE</span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="featureSwitch-container">
                    <div>
                        <label class="comet-checkbox comet-checkbox-square" for="">
                            <span class="comet-checkbox-icon">
                                <span class="comet-checkbox-circle"></span>

                            </span>
                            <input type="checkbox" class="comet-checkout-input" value>

                            <span>
                                <span class="featureSwitch--text">NGN2, 289.81 off</span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="featureSwitch-container">
                    <div>
                        <label class="comet-checkbox comet-checkbox-square" for="">
                            <span class="comet-checkbox-icon">
                                <span class="comet-checkbox-circle"></span>

                            </span>
                            <input type="checkbox" class="comet-checkout-input" value>

                            <span>
                                <span class="featureSwitch--text">Plus</span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="featureSwitch-container">
                    <div>
                        <label class="comet-checkbox comet-checkbox-square" for="">
                            <span class="comet-checkbox-icon">
                                <span class="comet-checkbox-circle"></span>

                            </span>
                            <input type="checkbox" class="comet-checkout-input" value>

                            <span>
                                <span class="featureSwitch--text">Free shipping</span>
                            </span>
                        </label>
                    </div>
                </div>


            </div>
            <div class="sort-sortContainer">
                <div class="sort--leftSort">
                    <div class="sort-sort">
                        <span class="sort-t">
                            Sort by
                            <!--  -->
                            :
                        </span>
                        <div class="sort-sortSpan">
                            <div class="sort-sortItem sort-sortBorder">
                                <span class>Best Match</span>
                            </div>
                            <div class="sort-sortItem sortBorder">
                                <span class>Orders</span>
                            </div>
                            <div class="sort-sortItem sortBorder">
                                <span class>Price</span>
                                <div class="sort-iconContainer">
                                    <span class=" comet-icon arrowUp">
                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>

                                    </span>
                                    <span class="comet-icon arrowDown">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>

                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="sort--views">
                    <span>
                        View
                        <!--  -->
                        :
                    </span>
                    <span class="comet--icon sort-icon sort-gallery">
                        <i class="fa fa-th-large" aria-hidden="true"></i>
                    </span>
                    <span class="comet--icon sort-icon sort-bar">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>

                </div>
            </div>

            <div class="list--list">
                {% for product in products %}
                <a class="manhattan--container card--list search-card-item" >
                    <div class="mahattan-image cards--image" style="padding-bottom: 100%;">
                        <img src="{{ product.image_source }}" alt="" style="max-width: 100%; max-height: 300px;">
                    </div>
                    <div class="manhattan--content">
                        <div class="manhattan--title card--title"
                            title="Casual Simplicity Women's Elastic Waist Wide Leg Cropped Pants All-match Fashion Solid Color Trousers Summer Female Clothing">
                            <h1 class="manhattan--titleText">
                                {{product.description }}
                                <!--  -->
                            </h1>
                        </div>
                        <div class="manhattan--tradeContainer">
                            <span class="manhattan--trade">1 sold</span>
                        </div>
                        <div class="manhattan--price manhattan--topList">
                            <div class="manhattan--price-sale">
                                <span
                                    style="font-size:12px;currency-symbol:NGN;show-decimal:true;decimal_point:.;symbol_position:left;comma_style:,">NGN</span>
                                <span
                                    style="font-size:20px;currency-symbol:NGN;show-decimal:true;decimal_point:.;symbol_position:left;comma_style:,">{{ product.price }}</span>





                            </div>
                        </div>

                    </div>

                </a>
                {% endfor %}     
                
            </div>
            
        </div>

    </section>
    <br>
    {% include 'footer.html'%}
</body>

</html>