<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/category.css') }}">
    <script src="{{ url_for('static', filename='scripts/slider.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kasuwa</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="category_section">
        <section class="category">  
            <h3><i class="fa-solid fa-list" style="color: #000000;"></i>  &nbsp;Categories</h3>
            <div class="category-list">
                {% for category in categories %}
                <p>
                    <a href="{{ url_for('Views.category', category_name=category.name) }}">
                        <i class="{{ category.icon }}"></i> &nbsp;{{ category.name }}
                    </a>
                </p>
                {% endfor %}
            </div>
             
        </section>
        <section class="slider">
            <div class="image_slider">
                <img src="../static/images/shopping cart.jpg" alt="" style="height:558px">
                <img src="../static/images/slider/new_items.jpeg" alt="" style="height:558px">
                <img src="../static/images/slider/fruits.jpeg" alt="" style="height:558px; width: 600px">
                <img src="../static/images/slider/lady2.jpeg" alt="" style="height:558px; width: 600px">
            </div>
        </section>
        <section class="login_sider">
            <div class="login_content">
                <!-- update here -->
                {% if current_user.is_authenticated %}
                <div class="login_imgText">
                    <img src="../static/images/slider_right/usericon.png" alt="">
                    <h4>Hi, {% include "split_email.html" %} </h4>
                    <div class="acc-ord-mgs">
                        <img src="../static/images/user/usersicon.png" alt="">
                        <img src="../static/images/user/ordericon.png" alt="">
                        <img src="../static/images/user/msgicon.png" alt="">
                    </div>
                    {% else %}
                    <div class="login_imgText">
                        <img src="../static/images/slider_right/usericon.png" alt="">
                    <br>
                    <h4>Welcome to Kasuwa</h4>
                </div>
                <div class="reg_sig">
                    <a href="{{ url_for('auth.signup') }}">
                        <button id="btn_log1">Register</button>&nbsp;&nbsp;
                    </a>
                    
                    <a href="{{ url_for('auth.login') }}">
                        <button id="btn_log2">Sign in</button>
                    </a>
                </div>
            </div>
            {% endif %}
            <!-- end -->
            <hr>
            <div class="login_sider_image">
                <img src="../static/images/shopping cart.jpg" alt="">
            </div>
            <p>We offer you shopping experience <br>beyond measureable doubt</b></p>
        </section>
    </div>
    <!-- editing starts here -->
    <div class="commodities">
        {% for prod in product %}
        <div class="row">
            <a href="{{ url_for('Views.product_details', product_id=prod.id) }}">
                <img src="{{ prod.image_source }}" alt="{{prod.name}}">
                <h4>
                    NGN<span class="price">{{ prod.price}}</span>
                    <!-- <span class="decimal">{{ decimal_parts }}</span> -->
                </h4>
                <p>1,000+ sold</p>
                <!-- here -->
                <div class="manhattan--title card--title"
                    title="Casual Simplicity Women's Elastic Waist Wide Leg Cropped Pants All-match Fashion Solid Color Trousers Summer Female Clothing">
                    <h1 class="manhattan--titleText">
                        {{ prod.description }}
                    </h1>
                </div>
                <!-- hi -->
            </a>
        </div>
        {% endfor %}
        
    </div> 
    <br>

    <div class="footer">
        <div class="footer_upper">
            <div class="part1">
                <i class="fa-solid fa-dollar-sign"></i>
                <h3>Great value</h3>
                <p>We offer competitive prices <br>and over 100 million items. <br>&nbsp;</p>
            </div>
            <div class="part1">
                <i class="fa-solid fa-truck" style="color: #000000;"></i>
                <h3>Woldwide shopping</h3>
                <p>We ship to over 200 countries <br>and regions, and our site
                <br>comes in 12 languages.</p>
            </div>
            <div class="part1">
                <i class="fa-regular fa-credit-card" style="color: #000000;"></i>
                <h3>Safe payment</h3>
                <p>Pay with the world's most <br>popular and secure payment
                <br>methods</p>
            </div>
            <div class="part1">
                <i class="fa-solid fa-square-check" style="color: #000000;"></i>
                <h3>Shop with confidence</h3>
                <p>Our buyer protection policy <br>
                covers your entire purchase <br>
                journey.</p>
            </div>
            <div class="part1">
                <i class="fa-solid fa-user-group fa-beat-fade" style="color: #000000;"></i>
                <h3>Help center</h3>
                <p>Round-the-clock assistance <br>for a smooth shopping <br>
                    experience</p>
            </div>
            <div class="part1">
                <i class="fa-brands fa-android fa-bounce" style="color: #0a0a0a;"></i>
                <h3>Shop better</h3>
                <p><span>Download the app</span> for mobile
                <br> only features such as image <br> search and discount games.</p>
            </div>
        </div>
        <hr>
        <div class="footer_down">
            <div class="part2">
                <h4>Stay connected</h4>
                <div class="social">
                    <a href=""><img src="../static/images/social/twitter.png" alt=""></a>
                    <a href=""><img src="../static/images/social/instagram.png" alt=""></a>
                    <a href=""><img src="../static/images/social/messager.png" alt=""></a>
                    <a href=""><img src="../static/images/social/whatsapp.png" alt=""></a>
                    <a href=""><img src="../static/images/social/facebook.png" alt=""></a>
                </div>
            </div>
            <div class="part2_right">
                <h4>Shopping with us</h4>
                <p>Making payments</p>
                <p>Delivery options</p>
                <p>Buyer Protection</p>
            </div>
            <div class="part2_right">
                <h4>Customer service</h4>
                <p>Help Center</p>
                <p>Transaction Services Agreement</p>
                <p>for non-EU/UK Consumers</p>
                <p>Terms and Conditions for</p>
                <p>EU/EEA/UK Consumers</p>
                <p>(Transactions)</p>
                <p>Take our feedback survey</p>
            </div>
            <div class="part2_right">
                <h4>Colaborate with Us</h4>
                <p>Partnership</p>
                <p>Affiliate program</p>
                <p>DS Center</p>
            </div>
        </div>
    </div>
    <div class="cp_right">
        <p>&copy;2023|Kasuwa_Service...</p>
    </div>
</body>
</html>