<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}sign_up{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
</head>
<body>
    
    <div class="signup-container">
        <img src="{{ url_for('static', filename='image/kasuwa_logo (2).png') }}">
        <h3>Login</h3>
        <form>
            <div class="form-group">
                <input type="email" placeholder="E-Mail" required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>