<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}sign_up{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/sign_up.css') }}">
</head>
<body>
    <div class="signup-container">
        <img src="{{ url_for('static', filename='image/kasuwa_logo (2).png') }}">
        <form>
            <h3>Sign Up</h3>
            <div class="form-group">
                <input type="name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
                <input type="email" placeholder="E-Mail" required>
            </div>
            <div class="form-group">
                <input type="phone" class="float-label" placeholder="Phone" required>
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>