<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
    <title>Kasuwa landing page</title>
</head>
<body>
<div class="hero">
    <nav>
        <img src="static/images/kasuwa_logo (2).png" alt="kasuwa-logo" class="logo">
        <ul>

            <li><a href="">About Us</a></li>>
        </ul>
        <button type="button"><span>Sign in</span></button>
    </nav>
    <div class="shopping-cart">
        <!-- <img src="static/images/shopping cart.jpeg" alt="shopping-cart" class="shopping-cart"> -->
        <!-- <img src="static/images/light2.webp" alt="shopping-cart" class="shopping-cart"> -->

    </div>
     <div class="heading">
        <h2>Kasuwa <span>Your Gateway to Limitless Possibilities!</span></h2>
        <button type="button" class="lm">Explore</button>
    </div>
    <div class="content">
        <div class="welcome">
            <h2>Welcome to Kasuwa</h2>
            <h2>Your Premier Destination for Online Shopping!</h2>
            <p>At Kasuwa, we're delighted to have you here as we open the doors to a world of seamless and enjoyable online shopping experiences. Our mission is to make your shopping journey not just convenient but also exciting and rewarding.
                Explore our vast selection of handpicked products, discover amazing deals, and shop with confidence, knowing that we prioritize your satisfaction and security. From fashion to electronics, home decor to gadgets, Kasuwa offers a diverse range of choices to suit your needs and desires.
            </p>
        </div>

       
        <div class="mission">
            <h2>Our mission</h2>
            <p>Our mission is to provide you with a seamless platform to explore, create, and connect. Whether you're a visionary entrepreneur, a passionate artist,
                or someone looking for unique experiences, Kasuwa has something special just for you.</p>
        </div>
        <div id="slider">
            <div id="slides">
                <div class="details1">
                    <div class="profile-cards">
                        <img src="static/images/bath.jpeg" alt="">
                    </div>
                    <div class="text-data">
                        <span class="name">Bartholomew Bassey</span>
                      <span class="Job">Experienced Fullstack Web Developer</span>
                    </div>
                    <div class="media-button">
                        <a href="#" style="background: black;" class="link">
                            <i class='bx bxl-github'></i>
                        </a>
                        <a href="#" style="background: #1da1f2;" class="link">
                            <i class='bx bxl-twitter'></i>
                        </a>
                        <a href="#" style="background: rgb(45, 233, 45);" class="link">
                            <i class='bx bxl-whatsapp' ></i>
                        </a>
                        <a href="#" style="background: #4267b2;" class="link">
                            <i class='bx bxl-facebook' ></i>
                        </a>
                    </div>
                    </div>
    
                    <div class="div details2">
                        <div class="profile-cards">
                            <img src="static/images/9549ad07-c8eb-4bae-b5b7-269b6f3bdfc3.jpeg" alt="Inyang">
                        </div>
                        <div class="text-data">
                            <span class="name">Iberedem Inyang</span>
                          <span class="Job">Experienced Fullstack Web Developer</span>
                        </div>
                        <div class="media-button">
                            <a href="#" style="background: black;" class="link">
                                <i class='bx bxl-github'></i>
                            </a>
                            <a href="#" style="background: #1da1f2;" class="link">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="#" style="background: rgb(45, 233, 45);" class="link">
                                <i class='bx bxl-whatsapp' ></i>
                            </a>
                            <a href="#" style="background: #4267b2;" class="link">
                                <i class='bx bxl-facebook' ></i>
                            </a>
                        </div>
                    </div>
                <div class="div details3">
                <div class="profile-cards">
                    <img src="static/images/4c67cd7a-de90-42ae-9fa3-69f62072850d.jpeg" alt="Favour">
                </div>
                <div class="text-data">
                    <span class="name">Maskoli Favour</span>
                  <span class="Job">Fullstack Web Developer</span>
                </div>
                <div class="media-button">
                    <a href="#" style="background: black;" class="link">
                        <i class='bx bxl-github'></i>
                    </a>
                    <a href="#" style="background: #1da1f2;" class="link">
                        <i class='bx bxl-twitter'></i>
                    </a>
                    <a href="#" style="background: rgb(45, 233, 45);" class="link">
                        <i class='bx bxl-whatsapp' ></i>
                    </a>
                    <a href="#" style="background: #4267b2;" class="link">
                        <i class='bx bxl-facebook' ></i>
                    </a>
                </div>
                </div>
            </div>
        </div>
        
        <div class="bottom">
            <h2>"Why Choose Kasuwa?"</h2>
            <p>🚀 Discover handcrafted products, unique art, and cutting-edge tech.</p>
            <p>🤝 Join a thriving community, collaborate, and build connections.</p>
            <p>🛒 Shop confidently for products that match your style and values.</p>
            <p>🌐 Dive into limitless possibilities and fuel your imagination.</p>
            <p>🌟 Empower your creativity and reach a global audience.</p>
            <p>Explore Kasuwa now and start your journey!</p>
            <p>🌎 Kasuwa - Where Dreams Come True</p>
        </div>
        <div class="footer">
            <!-- Github -->
            <i class="fab fa-github"></i>
            
            <!-- Facebook -->
            <i class="fab fa-facebook-f"></i>

            <!-- Twitter -->
            <i class="fab fa-twitter"></i>

            <!-- Google -->
            <i class="fab fa-google"></i>

            <!-- Instagram -->
            <i class="fab fa-instagram"></i>

            <!-- Linkedin -->
            <i class="fab fa-linkedin-in"></i>

            <!-- Pinterest -->
            <i class="fab fa-pinterest"></i>
            <!-- Whatsapp -->
            <i class="fab fa-whatsapp"></i>
        </div>
        
    </div>
    <script src="script.js"></script>
</body>
</html>