<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="slider">
        <div class="slides">
            <!-- radio button start -->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <!-- radio btn end -->

            <!-- Bartholomew Bassey -->
            <div class="card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="card-image">
                            <img src="static/images/4c67cd7a-de90-42ae-9fa3-69f62072850d.jpeg" alt="">
                        </div>
                        <div class="profile">
                            <h2>Bartholomew Bassey</h2>
                            <p>Experienced Fullstack Web Developer</p>
                        </div>
                        
                    </div>
                    <div class="social-icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fab fa-whatsapp"></i>
                    </div>
                </div>
            </div>

            <!-- Iberedem Inyang -->
            <div class="card">
                <div class="card-content">
                    <div class="card-image">
                        <img src="static/images/9549ad07-c8eb-4bae-b5b7-269b6f3bdfc3.jpeg" alt="">
                    </div>
                    <div class="card-text">
                        <div class="profile">
                            <h2>Iberedem Inyang</h2>
                            <p>Experienced Fullstack Web Developer</p>
                        </div>
                        
                    </div>
                    <div class="social-icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fab fa-whatsapp"></i>
                    </div>
                </div>
            </div>

            <!-- Maskoli Favour -->
            <div class="card">
                <div class="card-content">
                    <div class="card-image">
                        <img src="static/images/4c67cd7a-de90-42ae-9fa3-69f62072850d.jpeg" alt="">
                    </div>
                    <div class="card-text">
                        <div class="profile">
                            <h2>Maskoli Favour</h2>
                            <p>Experienced Fullstack Web Developer</p>
                        </div>
                    </div>
                    <div class="social-icons">
                    <i class="fab fa-github"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-linkedin-in"></i>
                    <i class="fab fa-whatsapp"></i>
                </div>
                </div>
                </div>
                <!-- automatic navigation start -->
                <!-- <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                </div> -->
                <!-- automatic navigation end -->
            </div>
            <!-- manual navigation start -->
            <!-- <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div> -->
            <!-- manual navigation start -->
        </div>
    </div>
</body>
</html>