<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/slider.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Logo/kasuwa_icon.png') }}" type="image/x-icon">
    {% block header %}

    {% endblock %}
    <title>Kasuwa</title>
</head>
<body>
    <div class="head_content">
        <a id='shift' href="{{ url_for('kasu.main')}}"><img src="{{ url_for('static', filename='images/Logo/kasuwa_logo.png') }}" alt=""></a>
        <div class="search">
            <form action="">
                <input type="text">
            </form>
        </div>
        <div class="search_icon">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
        </div>
        <div class="cart">
            <p id="cartCount">0</p>
            <a href="{{ url_for('kasu.cart')}}"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="account">
            <i class="fa-regular fa-user" style="color: #010813;" id="user"></i>&nbsp;&nbsp;Account
            <i class="fa-solid fa-play fa-rotate-90" id="acc" style="color: #c2c9d6;"></i>
        </div>

        <div class="drop_down_acc">
        {% if 'e_mail' not in session %}     
            <p>Welcome to Kasuwa!</p>
            <div class="drop_down_acc_button">
                <a href="{{ url_for('kasu.sign_up')}}"><button id="btn1">Register</button></a>&nbsp;
                <a href="{{ url_for('kasu.sign_in')}}"><button id="btn2">Sign in</button></a>
            </div><hr>
        {% else %}
            <div class="login_drop_down">
                <div class="flex_me">
                    <img src="{{ url_for('static', filename='images/Logo/login.png') }}" alt=""> 
                    <h3>Welcome <b>{{ userS }}</b></h3>
                </div>
                <a href="{{ url_for('kasu.signOut')}}"><button>Sign Out</button></a>
                <hr>
            </div>
        {% endif %}            
            
            <p id="effect_p">My Orders</p>
            <p id="effect_p">My Coins</p>
            <p id="effect_p">Message Center</p>
            <p id="effect_p">Payment</p>
            <p id="effect_p">Wish List</p>
            <p id="effect_p">My Favorite Stores</p>
            <p id="effect_p">My Coupons</p>
        </div>
    </div>
    
        {% block content %}

        {% endblock %}

    <div class="footer">
        <div class="footer_upper">
            <div class="part1">
                <i class="fa-solid fa-dollar-sign"></i>
                <h3>Great value</h3>
                <p>We offer competitive prices <br>and over 100 million items. <br>&nbsp;</p>
            </div>
            <div class="part1">
                <i class="fa-solid fa-truck" style="color: #000000;"></i>
                <h3>Woldwide shopping</h3>
                <p>We ship to over 200 countries <br>and regions, and our site
                <br>comes in 12 languages.</p>
            </div>
            <div class="part1">
                <i class="fa-regular fa-credit-card" style="color: #000000;"></i>
                <h3>Safe payment</h3>
                <p>Pay with the world's most <br>popular and secure payment
                <br>methods</p>
            </div>
            <div class="part1">
                <i class="fa-solid fa-square-check" style="color: #000000;"></i>
                <h3>Shop with confidence</h3>
                <p>Our buyer protection policy <br>
                covers your entire purchase <br>
                journey.</p>
            </div>
            <div class="part1">
                <i class="fa-solid fa-user-group fa-beat-fade" style="color: #000000;"></i>
                <h3>Help center</h3>
                <p>Round-the-clock assistance <br>for a smooth shopping <br>
                    experience</p>
            </div>
            <div class="part1">
                <i class="fa-brands fa-android fa-bounce" style="color: #0a0a0a;"></i>
                <h3>Shop better</h3>
                <p><span>Download the app</span> for mobile
                <br> only features such as image <br> search and discount games.</p>
            </div>
        </div>
        <hr>
        <div class="footer_down">
            <div class="part2">
                <h4>Stay connected</h4>
                <div class="social">
                    <a href="https://web.facebook.com/engr.gentle.1" target="_blank"><img src="{{ url_for('static', filename='images/social_media/facebook.png') }}" alt=""></a>
                    <a href="https://twitter.com/inyang_iberedem" target="_blank"><img src="{{ url_for('static', filename='images/social_media/twitter.png') }}" alt=""></a>
                    <a href="#" target="_blank"><img src="{{ url_for('static', filename='images/social_media/instagram.png') }}" alt=""></a>
                    <a href="https://www.messenger.com/" target="_blank"><img src="{{ url_for('static', filename='images/social_media/messengerFB.png') }}" alt=""></a>
                    <a href="#" target="_blank"><img src="{{ url_for('static', filename='images/social_media/whatsapp.png') }}" alt=""></a>
                </div>
            </div>
            <div class="part2_right">
                <h4>Shopping with us</h4>
                <p>Making payments</p>
                <p>Delivery options</p>
                <p>Buyer Protection</p>
            </div>
            <div class="part2_right">
                <h4>Customer service</h4>
                <p>Help Center</p>
                <p>Transaction Services Agreement</p>
                <p>for non-EU/UK Consumers</p>
                <p>Terms and Conditions for</p>
                <p>EU/EEA/UK Consumers</p>
                <p>(Transactions)</p>
                <p>Take our feedback survey</p>
            </div>
            <div class="part2_right">
                <h4>Colaborate with Us</h4>
                <p>Partnership</p>
                <p>Affiliate program</p>
                <p>DS Center</p>
            </div>
        </div>
    </div>
    <div class="cp_right">
        <p>&copy;2023|Kasuwa_Service...</p>
    </div>
</body>
</html>