{% extends "basic.html" %}
{% block content %}
    <form class='hidden' style="display:none" action="/kasuwa/index/category/product" method="POST">
        <input type="text" name="cat_id">
        <input type="text" name="cat_name">
        <input type="submit" id="auto_click">
    </form>
    <div class="category_section">
        <section class="category">  
            <h3><i class="fa-solid fa-list" style="color: #000000;"></i>  &nbsp;Categories</h3>
            {% if category %}
            {% for key, value in category.items() %}
                <p class="cat_prod{{ value[1] }}" catName="{{ value[2] }}"><i class="{{ value[0] }}" style="color: #96999c;"></i> &nbsp;{{ key }}</p>
            {% endfor %}
            {% endif %}
        </section>
        <section class="slider">
            <div class="image_slider">
                <img src="{{ url_for('static', filename='images/slider/market.jpg') }}" alt="" style="height:558px">
                <img src="{{ url_for('static', filename='images/slider/shop_right.jpeg') }}" alt="" style="height:558px">
                <img src="{{ url_for('static', filename='images/slider/e-market.jpeg') }}" alt="" style="height:558px; width: 600px">
                <img src="{{ url_for('static', filename='images/slider/my logo.png') }}" alt="" style="height:558px; width: 600px">
            </div>
        </section>
        <section class="login_sider">
            <div class="login_content">
                <img src="{{ url_for('static', filename='images/Logo/login.png') }}" alt="">
                <h4>Welcome to Kasuwa</h4>
                <a href="{{ url_for('kasu.sign_up') }}"><button id="btn_log1">Register</button></a>&nbsp;&nbsp;
                <a href="{{ url_for('kasu.sign_in') }}"><button id="btn_log2">Sign in</button></a>
            </div><hr>
            <div class="login_sider_image">
                <img src="{{ url_for('static', filename='images/slider/shop_right.jpeg') }}" alt="">
            </div>
            <p>We offer you shopping experience <br>beyond measureable doubt</b></p>
        </section>
    </div>
    <div class="commodities">
        {% if productsIndex %}
        {% for product in productsIndex.values() %}
        <div class="hide">
            <form action="/kasuwa/category/products"  method="POST">
                <input type="text" name="prodID">
                <input type="submit">
            </form>
        </div>
        <div class="row">
            <p style="display: none;" id="prodID">{{ product['prodID'] }}</p>
            <img id="image" src="{{ url_for('static', filename='images/products/' + product['type'] + '.webp') }}" alt="">
            <h4 id="naira" naira="{{ product['naira'] }}">NGN<span id="kobo" kobo="{{ product['kobo'] }}"> {{ product['naira'] }}</span>.{{ product['kobo'] }}</h4>
            <p id="stock" stock="{{ product['stock']}}">{{ product['stock']}} in stock</p>
            <p id="flow" title="{{ product['description'] }}">{{ product['description'] }} </p>
        </div>
        {% endfor %}
        {% else %}
            <p>No products to be displayed at the moment, service soon to be restored...</p>
        {% endif %}
        
    </div><br>

{% endblock %}