<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
    <title>kasuwa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/landing_page.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Logo/kasuwa_icon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="right">
            <ul>
                <a href="{{ url_for('kasu.sign_up') }}"><li>Register</li></a>
                <a href="{{ url_for('kasu.sign_in') }}"><li>Login</li></a>
            </ul>
        </div>
        <img src="{{ url_for('static', filename='images/Logo/kasuwa_logo.png') }}" alt="">
    </div>
   
    <div class="midMe">
        <div class="centerPage">
          <h2 style="text-align: center; color: rgb(3, 50, 24); margin-top: 20px;">Welcome to the Kasuwa Shopping Destination! 🌟</h2>
          <hr>
          <div class="btn">
            <ul>
                <li>
                <a href="{{ url_for('kasu.main') }}">Explore</a>
                </li>
            </ul>
          </div>
        </div> 
               
    </div>
    <div class="all">
        <div class="info">
            
            <div class="im">
                <img src="static/images/Landing_page/ecomerce.jpeg" alt="">
                <div class="about">
                    <h2>About Kasuwa</h2>
                    <p>Welcome to Kasuwa, where shopping meets inspiration! 
                    We're not just an online store; we're a destination for 
                    those seeking the extraordinary, the unique, and the handcrafted.
        
                    At Kasuwa, we believe that shopping should 
                        be more than just a transaction; it should be an experience that ignites 
                        your senses and connects you with the heart and soul of 
                        artisans from around the world. 
                        Our name, "Kasuwa," even reflects our commitment to bridging cultures, 
                        as it means "market" in various African languages.</p>
                </div>
            </div>
           
        </div>
    </div>
    <div class="position_mission">
    <div class="mission">
        <h2><i class="fa-solid fa-hand-pointer fa-rotate-90" style="color: #dddfe4;"></i> &nbsp;<span>Our Mission</span></h2><hr>
        <p>Our mission at Kasuwa is simple: to celebrate artisans and their 
            creations while providing you with an exceptional shopping experience.
            <ul>
                <h3>We aim to:</h3>
                <li><b>Empower Artisans:</b> We believe in fair trade practices and aim to provide artisans 
                    with a fair and sustainable source of income. </li><br>
                <li><b>Promote Sustainability:</b> Many of our products are eco-friendly and sustainably made, 
                    supporting the global shift towards a greener future.</li><br>
                <li><b>Connect Cultures:</b> Kasuwa serves as a global marketplace, 
                    bringing together people from diverse backgrounds and cultures through the 
                    love of art and craftsmanship.</li>
            </ul>
            
    </div>
    </div>
    <div class="contactUs">
        <h1>Contact Us</h1>
    </div>
    <div class="aboutUs">
        <div class="favour">
            <div class="centa">
                <img src="static/images/Landing_page/favour.jpg" alt="">
                <p><b style="color: gold">Front-end Engr. <br></b>
                    Mr Favour Mascoli, an enthusiac front end developer whose contributed massively to the 
                    implementation of this word. contact him
                </p>
                <ul>
                    <li><a href="https://github.com/EnGentech/Kasuwa-Service/tree/Favour">Github</a></li>
                    <li><a href="http://">LinkedIn</a></li>
                    <li><a href="">Twitter</a></li>
                </ul>
            </div>
        </div>
        <div class="inyang">
            <div class="centa">
                <img src="static/images/Landing_page/inyang.jpg" alt="">
                <p><b style="color: gold">Back-end Engr. <br></b>
                    No web application is functional without a backend developer, meet Iberedem Inyang, a back-end connoisseur
                    whose contribution made this portforlio [phase1] a success 
                </p>
                <ul>
                    <li><a href="https://github.com/EnGentech">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/iberedem-inyang-3b88ba223/">LinkedIn</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
        </div>
        <div class="barth">
            <div class="centa">
                <img src="static/images/Landing_page/bart.jpg" alt="">
                <p><b style="color: gold">Back-end Engr. <br></b>
                    Every good development starts with architectural design, talk of web applications then you cant shy away from 
                    models and database, Barthelomew Bassey, an erudite expertise in the field gave the blue print to this 
                    development
                </p>
                <ul>
                    <li><a href="https://github.com/EnGentech/Kasuwa-Service/tree/Barthelomew">Github</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cp_right">
        <p>&copy;2023|Kasuwa_Service...</p>
    </div>
</body>
</html>
