{% extends "basic.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/shopping_cart.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/order.css') }}">
<script src="{{ url_for('static', filename='scripts/cart.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="summary_section">
        <h2>Summary</h2>
        <h3 id="total">{{ amount }} <span style="font-size: small;"></span></h3>
        <h4>Total items cost</h4>
        <div class="payNw">
            <h3>Free</h3> 
            <h4>Shipping fee</h4>
            <h3 id='grandTotal' style="font-weight: 600; font-size: large;">{{ amount }}</h3> 
            <h4 style="font-weight: 600; font-size: large;">Total Shipping</h4>
        </div>
        <button>Place Order</button>
        <small>Upon clicking "Place Order", I confirm that I have read and acknowledge
            <a id='terms' href="">all terms and policies</a>
        </small>
        <div class="empty">
            
        </div>
        <div class="logo">
            <img id='confirm' src="{{ url_for('static', filename='images/Payment_channel/confrim.png') }}" alt=""> 
            <img src="{{ url_for('static', filename='images/Logo/kasuwa_logo.png') }}">
            <p>Kasuwa keeps your information and payment safe</p>
        </div>
    </div>

    <div class="addresses">
        
        <h3>Shopping Address</h3>
        <div class="address">
            <a id='change' href=""><p>Change</p></a>
            <p><b>Iberedem Inyang</b> <span>08039678842</span></p>
            <p>Heritage Polytechnic, Ikot Udota, Eket</p>
            <p>Eket, Akwa Ibom State, Nigeria: 51002</p>
        </div>
    </div>

    <div class="payMethod">
        
        <h3>Payment Methods</h3>
        <div class="pay">
            <a id='payment' href=""><p>Select Payment Method</p></a>
        </div>
    </div>



    <div class="all">
    {% if myOrders %}
    {% for item in myOrders %}
    <div class="cart_items">
        <div class="select_all" id="selectOne">
            <h3>{{ item[1]['name'] }}</h3>
        </div>
        <hr>
        <div class="cart_items_description">
            <div class="cart_item_img">
               <img src="{{ url_for('static', filename='images/products/' + item[1]['type'] + '.webp') }}" alt="">
            </div>
            <div class="description">
                <p>{{ item[1]['description'] }}</p> 
                <p id="adjust">qty</p>                
                <button>{{ item[1]['type'] }}</button>
                <h3>NGN <span>{{ item[1]['naira'] }}</span>.{{ item[1]['kobo'] }}</h3>
            </div>
            <div class="cart_icons">
                <div class="plus">
                    <p><b id="qty">{{ item[0] }}</b></p>&nbsp;
                </div> 
            </div>
        </div>
        
    </div>
    {% endfor %}
    {% else %}
      <p>An Error has occured, please check back</p>
    {% endif %}
    </div>

{% endblock %}
