{% extends 'basic.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/product.css') }}">
<script src="{{ url_for('static', filename='scripts/product_detail_page.js') }}"></script>
{% endblock %}

{% block content %}
{% if productInView %}
    <section class="product-wrap product-body">
        <div class="product-body-left">
            <div class="product-info">
                <div class="product-info-left">
                    <div class="image-viewer">
                        <img src="{{ url_for('static', filename='images/products/' + productInView['type'] + '.webp') }}" alt="Kasuwa">
                    </div>
                </div>
                
                <div class="product-info-right">
                    <div class="product-title_container">
                        <h1 class="product-title">{{ productInView['name']}}</h1>
                    </div>
                    <div class="comet-divider comet-divider_small"></div>
                    <div class="price-banner">
                        <div class="price-wrapper">
                            <div class="price-header">

                                <div class="counter-display">
                                    <div class="saving">
                                        <span>Spend & Save</span>
                                    </div>
                                    <div class="counter">

                                        <div class="timer">
                                            <span>Date/Time:</span>
                                            {{ time }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-body">
                                <div class="price-text">
                                    <span>NGN2,295.36 off orders NGN19,128.02+ & NGN6,120....</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-price">
                        <p>NGN <span class="integer"> &nbsp;{{ productInView['naira'] }}.</span> <span class='kobo' >{{ productInView['kobo'] }}</span></p>
                    </div>

                </div>
            </div>
            <div></div>
            <div class="comet-divider comet-divider_small"></div>
            <section class="description">
                <div class="description-title">
                    <h1 class="title">Description</h1>
                </div>

                <div class="product-description">
                    <p>{{ productInView['description'] }}</p>
                </div>
            </section>
            <div class="comet-divider comet-divider_small"></div>
            <section class="specification">
                <div class="title-wrap">
                    <div class="title-text">
                        <h1 class="specification-header">
                            Specifications
                        </h1>
                    </div>
                </div>
                <ul class="specification-list">
                    <li class="specification-line">
                        <div class="specification-prop">
                            <div class="specification-title">
                                <span>Power Type</span>
                            </div>
                            <div class="specification-desc">
                                <span>Rechargeable</span>
                            </div>
                        </div>
                        <div class="specification-prop">
                            <div class="specification-title">
                                <span>Power Type</span>
                            </div>
                            <div class="specification-desc">
                                <span>Rechargeable</span>
                            </div>
                        </div>
                    </li>
                    <li class="specification-line">
                        <div class="specification-prop">
                            <div class="specification-title">
                                <span>Power Type</span>
                            </div>
                            <div class="specification-desc">
                                <span>Rechargeable</span>
                            </div>
                        </div>
                        <div class="specification-prop">
                            <div class="specification-title">
                                <span>Power Type</span>
                            </div>
                            <div class="specification-desc">
                                <span>Rechargeable</span>
                            </div>
                        </div>
                    </li>
                    <li class="specification-line">
                        <div class="specification-prop">
                            <div class="specification-title">
                                <span>Power Type</span>
                            </div>
                            <div class="specification-desc">
                                <span>Rechargeable</span>
                            </div>
                        </div>
                        <div class="specification-prop">
                            <div class="specification-title">
                                <span>Power Type</span>
                            </div>
                            <div class="specification-desc">
                                <span>Rechargeable</span>
                            </div>
                        </div>
                    </li>
                    <li class="specification-line">
                        <div class="specification-prop">
                            <div class="specification-title">
                                <span>Power Type</span>
                            </div>
                            <div class="specification-desc">
                                <span>Rechargeable</span>
                            </div>
                        </div>
                        <div class="specification-prop">
                            <div class="specification-title">
                                <span>Power Type</span>
                            </div>
                            <div class="specification-desc">
                                <span>Rechargeable</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
           
            {% else %}
                <p>Product not available at the moment, please check back</p>
            {% endif %}


        </div>
        <div class="product-body-right">
            <div class="action-container">
                <div class="action-wrap">
                    <div class="delivery-wrap">
                        <div class="delivery-title">
                            <span>Ship to</span>
                        </div>
                        <div class="delivery-address">
                            <span class="delivery-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                            </span>
                            <span class="delivery-to">Kuje, Abuja, Nigeria</span>
                        </div>
                    </div>
                    <div class="comet-divider comet-divider_small"></div>
                    <div class="shipping-wrap">
                        <div class="dynamic-shipping-title-layout">
                            <span>
                                <span class="shipping-price">
                                    <strong>Shipping: NGN1, 053.57</strong><br>
                                    <strong>Item_Worth: <span>NGN
                                        {% if productInView %}
                                            <span id="ammount">0</span>.<span id="kobo">0</span>
                                        {% else %}
                                            <span>0</span>
                                        {% endif %}
                                    </span></strong>
                                </span>

                            </span>
                        </div>
                        <div class="dynamic-shipping-content-layout">
                            <span>
                                <span class="delivery-text">Estimated delivery on </span>
                                <span class="delivery-date"> Sep 15 </span>
                            </span>
                        </div>
                    </div>
                    <div class="comet-divider comet-divider_small"></div>
                    <div class="shipping-wrap">
                        <div class="dynamic-shipping-title-layout">
                            <span>
                                <span class="shipping-price">
                                    <strong>Service</strong>

                                </span>

                            </span>
                        </div>
                        <div class="dynamic-shipping-content-layout">
                            <span>
                                <span class="delivery-text">75-day Buyer Projection</span>

                            </span>
                        </div>
                    </div>
                    <div class="comet-divider comet-divider_small"></div>
                    <div>
                        <div class="quantity-title">Quantity</div>
                        <div class="input-number quantity-picker">
                            <div class="number-btn">
                                <span class="icon-subtract ">
                                    <i id="minus" class="fa fa-minus"></i>

                                </span>
                            </div>
                            <p id="qty" type="text" class="input-value" name="qty">1</p>
                            <div class="number-btn ">
                                <span class="icon-subtract ">
                                    <i id='plus' class="fa fa-plus" aria-hidden="true"></i>


                                </span>
                            </div>

                        </div>
                        <div class="quantity-info">
                            <div>
                                <span>{{ productInView['stock'] }} Pieces available</span>
                            </div>
                        </div>
                    </div>
                    <div class="action-stickyWrap">
                        <p id="productid" style="display: none;">{{ productInView['id'] }}</p>
                        <button type="button"
                            class="comet-btn comet-btn-primary buy-now comet-btn-large comet-btn-important">
                            <span>Buy Now</span>
                        </button>

                        <button type="button"
                            class="comet-btn comet-btn-primary  comet-btn-large add-to-cart comet-btn-important">
                            <span id="addToCart">Add to Cart</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </section>

</body>

</html>
{% endblock %}