{% extends "basic.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/shopping_cart.css') }}">
<script src="{{ url_for('static', filename='scripts/cart.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="summary_section">
        <h2>Summary</h2>
        <h3>US $0.00</h3>
        <h4>Total</h4>
        <button>Checkout (<span>0</span>)</button>
    </div>

    <div class="gen_cart_items">
        <h2>Shopping Cart (<span>{{ count }}</span>)</h2>
        <div class="select_all">
            <input type="checkbox" class="roundme">
            <p>Select all items</p>
        </div>
        <div class="select_all_button">
            <button id="special_select_all_button">All</button>
            <button>US $15 off</button>
            <button>Choice</button>
        </div>
    </div>

    <div class="payment_section">
        <h3>Payment Methods</h3>
        <div class="payme">
            <img src="{{ url_for('static', filename='images/Payment_channel/visa.png') }}" alt="">
            <img src="{{ url_for('static', filename='images/Payment_channel/mastercard.png') }}" alt="">
            <img src="{{ url_for('static', filename='images/Payment_channel/jcb.png') }}" alt="" id="dim">
            <img src="{{ url_for('static', filename='images/Payment_channel/greencard.png') }}" alt="" id="dim">
        </div><br>
        <h3>Buyers Protection</h3>
        <p><img src="{{ url_for('static', filename='images/Payment_channel/confrim.png') }}" alt="" id="dim_buyers_protection">
        &nbsp;Get full refund if the item is not as described or if it is not deliverd</p>
    </div>

    <div class="cart_items">
        {% if lis %}
        {% for items in lis %}
        <div class="select_all">
            <input type="checkbox" class="roundme">
            <h3>{{ items[0]['name'] }}</h3>
        </div>
        <hr>
        <div class="cart_items_description">
            <div class="cart_item_img">
                <input type="checkbox">
                <img src="{{ url_for('static', filename='images/products/' + items[0]['type'] + '.webp') }}" alt="">
            </div>
            <div class="description">
                <p>{{ items[0]['description'] }}</p> 
                <p id="adjust">qty</p>                
                <button>{{ items[0]['type'] }} ></button>
                <h3>NGN <span>{{ items[0]['naira'] }}</span>.{{ items[0]['kobo'] }}</h3>
            </div>
            <div class="cart_icons">
                <i class="fa-regular fa-heart" style="color: #1f1f1f;"></i>
                <i del='delete' class="fa-solid fa-trash-can" style="color: #080808;">
                    <p class="delid" style="display: none;">{{ items[0]['id'] }}</p>
                </i>
                <div class="plus">
                    <p><b id="qty">{{ items[1] }}</b></p>&nbsp;
                </div> 
            </div>
        </div>
        {% endfor %}
        {% else %}
            <p>No items in cart, please add items</p>
        {% endif %}
    </div>

{% endblock %}
